[Unit]
Description=OpenStack Cinder Volume Server
After=syslog.target network.target

[Service]
Type=notify
NotifyAccess=all
Restart=always
User=cinder
ExecStart=/usr/bin/cinder-volume

[Install]
WantedBy=multi-user.target
